body {
  background-image: url("/images/bg.gif");
  background-repeat: repeat;
  background-color: #fff;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 11pt;
}

h2 {
  font-family: Georgia, serif;
  font-weight: normal;
}

a, a:visited { color: #660033; }
a:active { color: #993366; }

p { text-align: justify; }

.center { text-align: center; }
.right { text-align: right; }
.left { text-align: left; }

.footnote {
  font-style: italic;
  font-family: Georgia, serif;
  color: #444;
  border-top: 1px dotted #aaa;
  padding-top: 1ex;
}

/* container */

#container {
  background-image: none;
  background-color: #fff;
  border: 2px solid #999;
  border-top: 0;
  padding: 3em 3em 1em 3em;
}

#container.courthouse {
  /*background-image: url("/images/courthouse-bg-1000w.gif");*/
  background-repeat: no-repeat;
  background-position: top right;
}

/* header */

#header {
  color: #444;
  font-family: "Fontin Sans", Helvetica, Arial, sans-serif;
  border-bottom: 1px dotted #999;
  margin-bottom: 1.5em;
}

#header a#title {
  color: #444;
  font-size: 40pt;
  text-decoration: none;
}
#header a#title:hover {
  text-decoration: none;
}
#header a#title span {
  color: #fff;
  background-color: #336699;
  padding: 0 0.35ex;
  border-radius: 4px;
}
#header a#title div {
  font-size: 50%
}

#header.support a#title {
  font-size: 28pt;
}

#header #location {
  font-size: 100%;
  font-family: Helvetica, Arial, sans-serif;
  margin-bottom: 2em;
}

/* slogan */

#slogan {
  font-size: 12pt;
  padding: 0;
  display: inline-block;
  color: #666;
  margin: 0 1ex 0 0;
}

/* main menu */

#main-menu {
  padding: 1ex 0 0 0;
  font-size: 12pt;
}

#main-menu #slogan {
 float: left;
 padding-top: 0.5ex;
}

#main-menu a, #main-menu a:visited {
  /*color: #6699cc;*/
  color: #fff;
  text-decoration: none;
  font-size: 12pt;
  font-weight: bold;
}
/*#main-menu a:active { color: #993366; }*/
#main-menu a:active { color: #ddd; }
#main-menu a:hover { text-decoration: underline; }

#main-menu ul {
  background-color: #999;
  margin: 0;
  padding: 0.5ex 1em;
  float: right;
  display: inline-block;
  list-style-type: none;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

#main-menu li {
  display: inline-block;
  margin: 0;
  padding: 0 1em 0 0;
}
#main-menu li:last-child { padding: 0; }

/* footer */

#footer {
  padding: 1em 0;
  color: #888;
}

/* fancy lead */

#fancy-lead {
  background-color: #336699;
  border-radius: 4px;
}

#fancy-lead p {
  color: #fff;
  font-style: italic;
  font-family: Georgia, serif;
  font-size: 170%;
  padding: 1ex 1em;
}

/* what is it */

#what-is-it {
  font-size: 100%;
}
#what-is-it .passage em {
  font-family: Georgia, serif;
}

/* counselors */

#counselors ul {
  list-style-type: none;
  text-align: right;
  margin: 0;
  padding: 0;
}

#counselors li {
  clear: both;
  margin: 0 0 1em 0;
  padding: 0;
}

#counselors li img { margin: 0 0 0.5ex 0; }
#counselors li a { font-size: 125%; }

#counselor .photo {
  padding: 0 0 2em 2em;
}

#counselor #counselors {
  border-top: 1px dotted #888;
  padding-top: 1em;
  font-size: 95%;
}

#counselor dl {
  font-size: 95%; margin-top: 1em;
}
#counselor dt {
  color: #999;
  font-weight: bold;
}
#counselor dd { margin-bottom: 1em; }
#counselor dd ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#counselor dd li {
  margin: 0;
  padding: .5ex 0;
  border-bottom: 1px dotted #ccc;
}
#counselor dd li:hover {
  background-color: #fafafa;
}
#counselor dd li:last-child {
  border: 0;
}

#counselors-quicklinks {
  font-family: Helvetica, Arial, sans-serif;
}
#counselors-quicklinks ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#counselors-quicklinks li {
  clear: both;
  margin: 0;
  padding: 0;
}

/* payment options */

#payment-options dt {
  margin: 1em 0 1ex 0;
  color: #666;
}

#payment-options dd {
  text-align: justify;
}

/* testimonials */
.testimonials {
  border-radius: 4px;
  padding: 1ex 1em;
}

.testimonials > div:last-child {
  margin-top: 2em;
}
.testimonials .testimony .quote {
  text-align: justify;
  font-style: italic;
  font-family: Georgia, serif;
  color: #444;
}

