/*
 * Forest: #7f9a00
 * Early Growth Forest: #afd675
 * Cream: #f4fdd8
 * Sea Foam: #e0ecd4
 * Sea: #b7ddcb
 */

body {
  background-image: url("/images/bg3.png");
  background-repeat: repeat;
  background-color: #b7ddcb;
}

a, a:visited { color: #7f9a00; }
a:active { color: #afd675; }

#container {
  background-color: #f4fdd8;
  border: 3px solid #999;
  border-top: 0;
}

#header a#title span {
  color: #fff;
  background-color: #7f9a00;
}
#main-menu a, #main-menu a:visited {
  color: #333;
}
#main-menu ul {
  background-color: #b7ddcb;
}

#fancy-lead {
  background-color: #afd675;
}
#fancy-lead p {
  color: #333;
}

#counselor dd li:hover {
  background-color: #e0ecd4;
}

