<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <meta content='width=960' name='viewport' />
    <meta content='{{ page.description }}' name='description' />
    <meta content='evansville, christian, counseling, {{ page.keywords }}' name='keywords' />

    <title>{{ page.title }} - Christian Counseling Services</title>

    <!-- <link href='/images/icon.gif' rel='icon' /> -->
    <link href="/stylesheets/960-system.css" type="text/css" media="screen" rel="stylesheet"/>
    <link href="/stylesheets/type.css" type="text/css" media="screen" rel="stylesheet"/>
    <link href="/stylesheets/styles.css" type="text/css" media="screen" rel="stylesheet"/>
    <link href="/stylesheets/theme-zenden.css" type="text/css" media="screen" rel="stylesheet"/>
  </head>

  <body>

    <div id="container" class="container_16 clearfix {{ page.container_class }}">
      {{ content }}

      <div id="footer" class="grid_16 alpha omega">
        <div id="copyright">
          &copy; {{ site.time | date: "%Y" }}
          EvansvilleChristianCounseling.com
          - All rights reserved
        </div>
      </div>

    </div>

     <!-- script src="/javascripts/ga.js"></script -->
  </body>
</html>
