<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <meta content='width=960' name='viewport' />
    <meta content='{{ page.description }}' name='description' />
    <meta content='evansville, christian, counseling, {{ page.keywords }}' name='keywords' />

    <title>{{ page.title }} - Christian Counseling Services</title>

    <!-- <link href='/images/icon.gif' rel='icon' /> -->
    <link href="/stylesheets/960-system.css" type="text/css" media="screen" rel="stylesheet"/>
    <link href="/stylesheets/type.css" type="text/css" media="screen" rel="stylesheet"/>
    <link href="/stylesheets/styles.css" type="text/css" media="screen" rel="stylesheet"/>
    <link href="/stylesheets/theme-zenden.css" type="text/css" media="screen" rel="stylesheet"/>
    <!--[if IE 7]>
    <link href="/stylesheets/ie7.css" type="text/css" media="screen" rel="stylesheet"/>
    <![endif]-->
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-22708060-1']);
      _gaq.push(['_trackPageview']);

      (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();
     </script>
  </head>

  <body>

    <div id="container" class="container_16 clearfix {{ page.container_class }}">
      {{ content }}

      <div id="footer" class="grid_16 alpha omega">
        <div id="copyright">
          &copy; {{ site.time | date: "%Y" }}
          EvansvilleChristianCounseling.com
          - All rights reserved
        </div>
      </div>
    </div>

  </body>
</html>
