---
layout: default
---

<div id="header" class="grid_16 alpha omega home">
  <a href="/" title="Evansville Christian Counseling" id="title">
    <span>Evansville</span>
    <div>Christian Counseling</div>
  </a>

  <div id="main-menu">
    <span id="slogan">
      Truth, Hope, and Encouragement
    </span>

    <ul>
      <li><a href="/" title="Evansville Christian Counseling">Home</a></li>
      <li><a href="/services/" title="Our Location and Services">Loation &amp; Services</a></li>
      <li><a href="/statement-of-faith/" title="Our Statement of Faith">Statement of Faith</a></li>
    </ul>
  </div>
</div>

<div id="content" class="grid_16 alpha omega">
  {{ content }}
</div>
