---
layout: default
---

<div id="header" class="grid_16 alpha omega home">
  <div class="clearfix">
    <div class="grid_10 alpha">
    <a href="/" title="Christian Counseling Services" id="title">
      Christian Counseling Services
    </a>
    </div>

    <div id="location" class="grid_6 omega right vcard">
      <div class="grid_4 alpha address left adr">
        <div class="street-address">1133 W. Mill Road, Suite 211</div>
        <div>
          <span class="locality">Evansville</span>,
          <span class="region">IN</span>
          <span class="postal-code">47710</span>
        </div>
        <div>
          <a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=1133+W.+Mill+Road,+Suite+211+Evansville,+IN+47710&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=40.052282,73.388672&amp;ie=UTF8&amp;hq=&amp;hnear=1133+W+Mill+Rd,+Evansville,+Vanderburgh,+Indiana+47710&amp;ll=38.031124,-87.575455&amp;spn=0.027043,0.023947&amp;z=14&amp;iwloc=A" target="blank">Get Directions</a>
        </div>
      </div>

      <div class="grid_2 omega phones">
        <div>&nbsp;</div>
        <div class="tel">812-483-2364</div>
      </div>
    </div>
  </div> <!-- clearfix -->

  <div id="main-menu">
    <span id="slogan">
      Truth, Hope, and Encouragement
    </span>

    <ul>
      <li><a href="/" title="Christian Counseling Services">Home</a></li>
      <li><a href="/services/" title="Our Location and Services">Location &amp; Services</a></li>
      <li><a href="/pastors-and-churches/" title="Pastors and Churches">Pastors &amp; Churches</a></li>
      <li><a href="/statement-of-faith/" title="Our Statement of Faith">Statement of Faith</a></li>
    </ul>
  </div>
</div>

<div id="content" class="grid_16 alpha omega">
  {{ content }}
</div>
