---
layout: default
---

<div id="header" class="grid_16 alpha omega support">
  <div class="clearfix">
    <div class="grid_13 alpha">
      <a href="/" title="Christian Counseling Services" id="title">
        <span>Christian</span> Counseling Services
      </a>
    </div>

    <div id="counselors-quicklinks" class="grid_3 omega">
      <b>Counselors</b>
      <ul>
        <li><a href="/counselors/vickie-knowlden/">Vickie Knowlden</a></li>
        <li><a href="/counselors/ellie-malek/">Ellie Malek</a></li>
      </ul>
    </div> <!-- counselors -->
  </div> <!-- clearfix -->

  <div id="main-menu" class="clearfix">
    <span id="slogan">
      Truth, Hope, and Encouragement
    </span>

    <ul>
      <li><a href="/" title="Christian Counseling Services">Home</a></li>
      <li><a href="/services/" title="Our Location and Services">Location &amp; Services</a></li>
      <li><a href="/pastors-and-churches/" title="Pastors and Churches">Pastors &amp; Churches</a></li>
      <li><a href="/statement-of-faith/" title="Our Statement of Faith">Statement of Faith</a></li>
    </ul>
  </div>
</div>

<div id="content" class="grid_16 alpha omega">
  {{ content }}
</div>
